/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */

.sidebarmenu ul {
margin: 0;
padding: 0;
list-style-type: none;
font: bold 13px Verdana;
width: 180px; /* Main Menu Item widths */
border-bottom: 1px solid #ccc;
background-color: #778;
}
 
.sidebarmenu ul li {
position: relative;
}

/* Top level menu links style */
.sidebarmenu ul li a {
display: block;
overflow: auto; /*force hasLayout in IE7 */
color: white;
text-decoration: none;
padding: 6px;
margin: 1px 0;
}

.sidebarmenu ul li a:link, .sidebarmenu ul li a:visited, .sidebarmenu ul li a:active {
background-color: #99aa77; /*background of tabs (default state)*/
}

.sidebarmenu ul li a:visited {
color: white;
}

.sidebarmenu ul li a:hover {
	background-color: #c5bd9d;
}

/*Sub level menu items */
.sidebarmenu ul li ul {
position: absolute;
width: 170px; /*Sub Menu Items width */
top: 0;
visibility: hidden;
}

.sidebarmenu a.subfolderstyle {
background: url(right.gif) no-repeat 97% 50%;
}

 
/* Holly Hack for IE \*/
* html .sidebarmenu ul li { float: left; height: 1%; }
* html .sidebarmenu ul li a { height: 1%; }
/* End */

#wrapper {
	background-color: #FFFFFF;
	width: 901px;
	margin-right: auto;
	margin-left: auto;
	border-right-width: thin;
	border-left-width: thin;
	border-right-style: none;
	border-left-style: none;
}


#right {
	float: right;
	width: 500px;
	background-color: #FFFFFF;
}
#left {
	width: 204px;
	float: left;
	text-align: left;
	letter-spacing: normal;
	word-spacing: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: small;
	font-style: normal;
	white-space: normal;
	padding-left: 12px;
	padding-right: 3px;
	background-color: #FFFFFF;
}

#black_box {
	background-attachment: scroll;
	background-color: #000000;
	background-image: none;
	background-repeat: repeat;
	height: 66px;
	width: 901px;
	padding-left: 0px;
	float: none;
}
#logo {
	background-image: url(PB_logo_transparent.gif);
	height: 41px;
	width: 524px;
	padding: 0px;
	float: left;
	vertical-align: top;
}

#bodyArea {
background-color:#FFF;
position:relative;
float:inherit;
}

#footer {
	position:relative;
	top:-16px;
	height: 75px;
	width: 901px;
	background-color:#FFFFFF;
	float:right;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-style: normal;
	color: #000000;
	padding-left: 12px;
}

.sidebar_content {
	background-color: #99aa77;
	width: 200px;
	margin-left: 25px;
	margin-bottom: 10px;
}

.sidebar_content2 {
	background-color: #c5bd9d;
	width: 200px;
	margin-bottom: 10px;
	margin-left: 25px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
}
p{
	clear:both;float:none;
}
